body {
    background: #f4f6f8;
    font-family: Arial;
}

.container {
    width: 400px;
    margin: 50px auto;
    padding: 25px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #ccc;
}

h2 {
    text-align: center;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}
